fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

pgvector

pydantic
pydantic-settings

python-multipart

pymupdf

# for local embeddings (on prod memory is going out of range due to large cuda packages)
# sentence-transformers

# use gemini embedding to reduce memory usage on deployment
google-genai

slowapi

python-dotenv

alembic

openai